@import "tailwindcss";


@theme {
 
  --font-Inter:  "Inter", sans-serif;

}


/* .container {
  margin: 0;
  padding: auto;
} */

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* .container {
  margin: 0 auto;
  padding:  0 16px;
} */

